/* You can add global styles to this file, and also import other style files */

/* @import '~bootstrap/dist/css/bootstrap.min.css' */

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background: url(https://terrigen-cdn-dev.marvel.com/content/prod/1x/a44.jpg) no-repeat center ;
    background-size:contain;
    background-attachment: fixed;
    background-color: rgba(0,0,0);
    
}

.custom{
    color: white;
    font-family: monospace;
}